*{
    padding:0;
    margin:0;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: white;
}

#box{
    margin:30px 30px;
    background-color: red;
    border-color: white;
    border: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: absolute;

}
    
}
.heading{
    font-style: oblique;
    font-size: 50px;
}
.submit{
    background-color: rgb(133, 133, 214);
    
}
