*{
    padding:0;
    margin:0;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: white;
}
.heading{
    font-style: oblique;
    font-size: 50px;
}
.submit{
    background-color: rgb(133, 133, 214);
    
}
