*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: white;
}

#box{
    width: 50%;
    height: 800px;
    margin:30px 30px;
    padding-left: 30px;
    text-align: left;
    background-color: rgb(242, 174, 92);
    border: 20px;
    text-align: left;
    position: relative;
    justify-content: space-evently;

}
h2{
    font-size: xx-large;
    font-weight: 400px;
    color:rgb(62, 59, 45)
}
h4{
    font-weight: 500px;
    font-size: large;
    color:black;
}
#submit{
    
    background-color: beige;
    border-radius: 10%;
    font-size: large;
    color: black;
}
    
}
.heading{
    font-style: oblique;
    font-size: 50px;
}

